---
import Phone from "@/icons/Phone.astro";
import Section from "../Section.astro";

import Whatsapp from "@/icons/whatsapp.astro";
import Telegram from "@/icons/telegram.astro";
import Mail from "@/icons/Mail.astro";

import type { Global, References } from "@/cv";
import { getLanguage } from "@/utils/language";

const translate = await getLanguage(Astro.currentLocale);

const global = translate.global as Global;
const references = translate.references as References[];
---

<Section title={global.references}>
  <ul>
    {
      references.map(({ email, name, phone, reference }) => {
        const printInfo = [
          `<a href="mailto:${email}" title="${global.sentences_references[0]} ${name} ${global.sentences_references[1]} ${email}" target="_blank" rel="noopener noreferrer">${email}</a>`,
          `<a href="tel:${phone}" title="${global.sentences_references[2]} ${name} ${global.sentences_references[3]} ${phone}" target="_blank" rel="noopener noreferrer">${phone}</a>`,
        ]
          .filter(Boolean)
          .join("<br><br>");

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3 aria-label={name}>{name}</h3>
                  <h4 aria-label={reference}>{reference}</h4>
                </div>
              </header>

              <footer class="print">
                <Fragment set:html={printInfo} />
              </footer>
              <footer class="no-print">
                {email && (
                  <a
                    href={`mailto:${email}`}
                    title={`${global.sentences_references[0]} ${name} ${global.sentences_references[1]} ${email}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={`${global.sentences_references[0]} ${name} ${global.sentences_references[1]} ${email}`}
                  >
                    <Mail />
                  </a>
                )}
                {phone && (
                  <a
                    href={`tel:${phone}`}
                    title={`${global.sentences_references[2]} ${name} ${global.sentences_references[3]} ${phone}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={`${global.sentences_references[2]} ${name} ${global.sentences_references[3]} ${phone}`}
                  >
                    <Phone />
                  </a>
                )}
                {phone && (
                  <a
                    href={`https://api.whatsapp.com/send/?phone=${phone.substring(1).replace(" ", "")}&text&type=phone_number&app_absent=0`}
                    title={`${global.sentences_references[4]} ${name} ${global.sentences_references[3]} ${phone}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={`${global.sentences_references[4]} ${name} ${global.sentences_references[3]} ${phone}`}
                  >
                    <Whatsapp />
                  </a>
                )}
                {phone && (
                  <a
                    href={`https://t.me/${phone.replace(" ", "")}`}
                    title={`${global.sentences_references[5]} ${name} ${global.sentences_references[3]} ${phone}`}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label={`${global.sentences_references[5]} ${name} ${global.sentences_references[3]} ${phone}`}
                  >
                    <Telegram />
                  </a>
                )}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  footer {
    color: #555;
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }
</style>
